.sidebar{
    background-color: rgb(189, 147, 171);
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.2em;
    a{
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.3em 0.5em;
        border-radius: 0.3em;
        cursor: pointer;
    }
    a:hover{
        background-color: rgba(124, 66, 131, 0.87);
    }
}
.content{
    margin-right: 200px;
    padding: 0.4em;
}